/packages
/configs/*
/logs/*
/gamedata/*
data/sqlite/sourcebans-queue.sq3
data/updater.txt
configs/adminmenu_maplist.ini
configs/admins_simple.ini
configs/databases.cfg
configs/serverhop.cfg
configs/sourcebans/sourcebans.cfg
data/sqlite/clientprefs-sqlite.sq3
*.sq3
data/updater.txt
doc/tmp/*
data/antitk.txt
gamedata/sm-tf2.games.txt
gamedata/core.games/*
gamedata/sdkhooks.games/*
gamedata/sdktools.games/*
gamedata/sm-cstrike.games/*

