<a name="${plugin.name}">
\#\#\# ${plugin.myinfo["name"]} ${plugin.myinfo["version"]}

${plugin.myinfo["description"]}
#for $section in ["Plugin", "Source"]
\#\#\#\# ${section}
#for $file in $plugin.files[$section]
[${file}](https://github.com/jaredballou/insurgency-sourcemod/blob/master/${file}?raw=true)<br>
#end for
#if $section == "Plugin"
#if $plugin.dependencies
\#\#\#\# Dependencies
#for dependency in $plugin.dependencies
<a href='#${dependency}'>${dependency}</a><br>
#end for
#end if
#end if
#end for
#if $plugin.cvars

\#\#\#\# CVAR List
```
#for $cvar,$data in $plugin.cvars.items()
#if $data.has_key('description')
"${cvar}" "${data["value"]}" // $data['description']
#else
"${cvar}" "${data["value"]}"
#end if
#end for
```
#end if
#if $plugin.commands

\#\#\#\# Command List
```
#for $command,$data in $plugin.commands.items()
#if $data.has_key('description')
"${command}" // $data['description']
#else
"${command}"
#end if
#end for
```
#end if
#if $plugin.todos

\#\#\#\# ToDo

#for $todo in $plugin.todos
 * [ ] ${todo}
#end for
#end if

