#def ListFiles(data)
#for $section in $data
#for $file in $data[$section]
		"${section}"	"Path_SM/${file}"
#end for
#end for
#end def
"Updater"
{
	"Information"
	{
		"BaseURL"	"https://raw.githubusercontent.com/jaredballou/insurgency-sourcemod/master"
		"Version"
		{
			"Latest"	"${plugin.myinfo["version"]}"
		}
		"Notes"		"${plugin.myinfo["description"]}"
		"Name"		"${plugin.myinfo["name"]}"
	}
	"Files"
	{
$ListFiles($plugin.files)$ListFiles($plugin.dependencies)
	}
}
